In [1]:
import numpy as np
import pandas as pd

In [2]:
#rng = pd.date_range('1/1/2011', periods=10, freq='H')
#rng

In [3]:
#df = pd.read_csv("https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv")
#df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [7]:
#cols = df.columns

In [8]:
#print(cols)

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [9]:
#cols = cols[1:5]

In [10]:
#df1 = df[cols]

In [17]:
#df["falls"] = df1[cols].sum(axis=0)

In [18]:
#df

     sepal_length  sepal_width  petal_length  petal_width    species falls
0             5.1          3.5           1.4          0.2     setosa   NaN
1             4.9          3.0           1.4          0.2     setosa   NaN
2             4.7          3.2           1.3          0.2     setosa   NaN
3             4.6          3.1           1.5          0.2     setosa   NaN
4             5.0          3.6           1.4          0.2     setosa   NaN
..            ...          ...           ...          ...        ...   ...
145           6.7          3.0           5.2          2.3  virginica   NaN
146           6.3          2.5           5.0          1.9  virginica   NaN
147           6.5          3.0           5.2          2.0  virginica   NaN
148           6.2          3.4           5.4          2.3  virginica   NaN
149           5.9          3.0           5.1          1.8  virginica   NaN

[150 rows x 6 columns]

In [5]:
#ts = pd.DataFrame(dfhorses), (np.random,poisson(5,len(dfhorses))),columns = ["falls"]

In [ ]:
#ts

In [ ]:
Jockeys = [['jack', 34, 'Sydeny', 'Australia',85.96],
            ['Riti', 30, 'Delhi', 'India',95.20],
            ['Vansh', 31, 'Delhi', 'India',85.25],
            ['Nanyu', 32, 'Tokyo', 'Japan',74.21],
            ['Maychan', 16, 'New York', 'US',99.63],
            ['Mike', 17, 'las vegas', 'US',47.28]]

In [ ]:
#df = pd.DataFrame(students,
                      columns=['Name', '', 'City', 'Country','Agg_Marks'],
                           index=['a', 'b', 'c', 'd', 'e', 'f'])

In [ ]:
#df = df.set_index('Agg_Marks')
#df

https://www.geeksforgeeks.org/python-pandas-dataframe-set_index/

https://web.microsoftstream.com/video/db8801fe-9e42-4663-a508-5d6f38bb7327