In [1]:
import numpy as np
import pandas as pd

In [2]:
#rng = pd.date_range('1/1/2011', periods=10, freq='H')
#rng

In [3]:
#df = pd.read_csv("https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv")
#df

In [4]:
#

In [5]:
#

In [6]:
#df

In [7]:
#ts = pd.DataFrame(dfhorses), (np.random,poisson(5,len(dfhorses))),columns = ["falls"]

In [8]:
#ts

In [9]:
#Jockeys = [['jack', 34, 'Sydeny', 'Australia',85.96],
        ['Riti', 30, 'Delhi', 'India',95.20],
            ['Vansh', 31, 'Delhi', 'India',85.25],
            ['Nanyu', 32, 'Tokyo', 'Japan',74.21],
            ['Maychan', 16, 'New York', 'US',99.63],
            ['Mike', 17, 'las vegas', 'US',47.28]

IndentationError: unexpected indent (<ipython-input-9-ee804c7c18a2>, line 2)

In [ ]:
#df = pd.DataFrame(students,
                      columns=['Name', '', 'City', 'Country','Agg_Marks'],
                           index=['a', 'b', 'c', 'd', 'e', 'f'])

In [ ]:
#df = df.set_index('Agg_Marks')
#df

https://www.geeksforgeeks.org/python-pandas-dataframe-set_index/

https://web.microsoftstream.com/video/db8801fe-9e42-4663-a508-5d6f38bb7327

In [ ]:
#cols = df.columns
#cols = cols[1:5]
#print(cols)
#df1 = df[cols]
#df["falls"] = df1[cols]

In [10]:
df = pd.read_csv("https://raw.githubusercontent.com/EibhinnLee/Project-2020---Programming-for-Data-Analysis/main/Horses_Dataset_Project2020.txt")
df

,Rating,Name,Distance,Bred,Location,Age,Novice,Sex
0,173,Al Boum Photo,Staying,French,IRE,8,N,Male
1,173,Cyrname,Intermedate,French,UK,8,N,Male
2,172,Santini,Staying,British,UK,8,N,Male
3,172,Chacun Pour Soi,Minimum,French,IRE,8,N,Male
4,171,Clan des Obeaux,Staying,French,UK,8,N,Male
...,...,...,...,...,...,...,...,...
108,152,Nube Negra,Minimum,Spainish,UK,6,Y,Male
109,152,Sam Brown,Intermediate,British,UK,8,Y,Male
110,152,Ordinary World,Minimum,Irish,IRE,10,N,Male
111,152,Top Notch,Intermediate,French,UK,9,N,Male
112,152,Wicklow Brave,Minimum,British,IRE,11,Y,Male

In [ ]:
# Taking out columns only required
#df = df[['Rating','Name']]

In [ ]:
#df

https://www.geeksforgeeks.org/how-to-add-empty-column-to-dataframe-in-pandas/

Adding new columns to original dataframe

In [ ]:
#df = df.reindex(columns = df.columns.tolist()  
                                  + ['2020_Rating','Retire','2020_Distance', '#_Runs'])

https://stackoverflow.com/questions/29517072/add-column-to-dataframe-with-constant-value

Adding column with data to dataframe

In [39]:
# Adding column with data to dataframe
a = ["yes","no"]

df['retire'] = np.random.choice(a, len(df))

In [40]:
# Adding column with data to dataframe

df['#_Runs'] = np.random.poisson(3, len(df))

In [41]:
# Adding column with data to dataframe

b = ["Staying", "Intermediate", "Minimum"]

df['2020_Distance'] = np.random.choice(b, len(df))

In [42]:
# Adding column with data to dataframe
#df['2020_Rating'] = '155' 

df['2020_Rating'] = np.random.poisson(10, len(df))

In [43]:
# df now includes original dataframe along with new columns and data
df

,Rating,Name,Distance,Bred,Location,Age,Novice,Sex,retire,#_Runs,2020_Distance,2020_Rating
0,173,Al Boum Photo,Staying,French,IRE,8,N,Male,no,2,Minimum,15
1,173,Cyrname,Intermedate,French,UK,8,N,Male,yes,2,Staying,8
2,172,Santini,Staying,British,UK,8,N,Male,yes,2,Staying,15
3,172,Chacun Pour Soi,Minimum,French,IRE,8,N,Male,no,4,Intermediate,6
4,171,Clan des Obeaux,Staying,French,UK,8,N,Male,no,5,Intermediate,7
...,...,...,...,...,...,...,...,...,...,...,...,...
108,152,Nube Negra,Minimum,Spainish,UK,6,Y,Male,yes,3,Minimum,14
109,152,Sam Brown,Intermediate,British,UK,8,Y,Male,yes,2,Intermediate,8
110,152,Ordinary World,Minimum,Irish,IRE,10,N,Male,no,1,Staying,9
111,152,Top Notch,Intermediate,French,UK,9,N,Male,yes,3,Minimum,14
112,152,Wicklow Brave,Minimum,British,IRE,11,Y,Male,yes,1,Minimum,7

In [ ]:
#np.random.poisson value from value in dataframe column